<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <script src="./lib//vue-router.js"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/detail.css">
    <script src="./lib/swiper/js/swiper.min.js"></script>
    <link rel="stylesheet" href="./lib/swiper/css/swiper.min.css">
    <script src="./lib/jquery.js"></script>
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>
   <!-- --------------首页组件的模板-------------- -->
    <template id="home">
        <div class="home">
            <header>
                <img src="./static/bilibili.png">
            </header>
            <nav>
                <ul>
                    <router-link tag="li" :to="m.url" v-for="m in menuList" :key="m.id">{{m.title}}</router-link>
                </ul>
            </nav>
            <div class="banner">
            <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="s in swiperList">
                            <img :src="s" />
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="recommend-list">
                <div class="card-list">
                    <router-link tag="div" :to="'/detail/'+v.aid" class="v-card" v-for="v in videos" :key="v.aid">
                        <div class="card">
                            <img  class="pic" :src="v.pic" alt="">
                        </div>
                        <p class="title">
                            {{v.title}}
                        </p>
                    </router-link>
               
                </div>
            </div>
            
        </div>
    </template>

    <!-- --------------视频播放页面的模板-------------- -->
    <template id="detail">
        <div class="detail">
            <header>
                <img class="back-btn" src="./static/left.png" alt="" @click="back">
                <img class="bili-logo" src="./static/bililogo.png" alt="">
            </header>
            <div class="video-player">
                <iframe src="//player.bilibili.com/player.html?aid=710727237&bvid=BV1zQ4y1A7qz&cid=191354075&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                <div>
                    <div class="video-info">
                        <h3>hey girl</h3>
                        <span class="up-tag">up</span> <span class="up-name">HeyDinder</span> <span class="play-count">6.5万次观看</span><span class="danmu-count">685弹幕</span> <span class="video-date">02-26</span>
                    </div>
                    <div class="video-toolbar">
                        <div>
                            <img src="./static/like.png" alt="">
                            <p>4.3万</p>
                        </div>
                        <div>
                            <img src="./static/like.png" alt="">
                            <p>4.3万</p>
                        </div>
                        <div>
                            <img src="./static/like.png" alt="">
                            <p>4.3万</p>
                        </div>
                        <div>
                            <img src="./static/like.png" alt="">
                            <p>4.3万</p>
                        </div>
                    </div>
                    <div class="bottom-tab">
                        <div class="switcher-wrapper">
                            <router-link  tag="div" to="/detail/reco"> 相关推荐</router-link>
                            <router-link  tag="div" to="/detail/comm"> 评论1550</router-link>
                        </div>
                    </div>
                    <router-view class="tab-content"></router-view>
                </div>
            </div>
        </div>
    </template>
    <script>

/*------------------首页组件------------------- */
var Home = Vue.component("home",{
    template:'#home',
    data(){
        return{
            videos:[],
            menuList:[
                {id:0,title:"首页",url:'/home/0'},
                {id:1,title:"动画",url:'/home/1'},
                {id:2,title:"番剧",url:'/home/2'},
                {id:3,title:"国创",url:'/home/3'},
                {id:4,title:"音乐",url:'/home/4'},
            ],
            swiperList:[
                './static/b1.jpg','./static/b2.jpg','./static/b3.jpg',
            ]
        }
    },
    mounted() {
       this.initSwiper();
       this.getHomeData()
    },
    methods: {
        initSwiper(){
            var swiper = new Swiper('.swiper-container', {
                pagination: {el: '.swiper-pagination'},
                autoplay:true
            });
        },
        getHomeData(){
            $.get('https://www.fastmock.site/mock/e5235ba89a269aad3a0c14cd975023bf/api/home',res => {
                this.videos = res;
            })
        }
    },
})


/*------------------视频播放页面------------------- */
var Detail = Vue.component("detail",{
    template:'#detail',
    mounted(){
        let id = this.$route.params.id;
        // console.log('id:',id)
    },
    methods: {
        back(){
            this.$router.push('/')
        }
    },
})

var Recomond = Vue.component('recomond',{
    template:`<h1>相关推荐</h1>`
})
var Comment = Vue.component('comment',{
    template:`<h1>评论</h1>`
})


var router = new VueRouter({
    routes: [
        {
            path:"/",
            redirect:"/home/0"
        },
        {
            path:"/home/:tab",
            component: Home
        },
        {
            path:"/detail/:id",
            component: Detail,
            children:[
                {
                    path:'/detail/reco',
                    component: Recomond
                },
                {
                    path:'/detail/comm',
                    component: Comment
                }
            ]
        },
    ]
})

var app = new Vue({
    router,
    el: "#app",
    data:{}
})
    </script>
</body>
</html>